.logo{
    width: 100px;
    height: 50px;
    justify-content: left;
    margin-left: 50px;
    border: 5px solid gray;
}
.header{
    font-size: 24px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: gray;
}
.header__menu{
    margin-right: 24px;
    margin-left: auto;
}
.header__menu__item{
    margin-right: 24px;
    line-height: 20px;
    text-decoration: none;
    color: black;

}
.header__menu__item--active{
    color: white;
}
body{
    background-color: white;
}
.sobre{
    margin-top: 50px;
}
.sobre__img{
    margin-right: 10px;
    margin-left: 40px;
    width: 50%;
    height: 50% ;
    border: 2px solid rgb(134, 100, 100);
}
.sobre__div{
    justify-content: center;
    display: flex;
    line-height: 50px;
}

.texto{
    background-color: white;
    color: black;
    text-align: center;
    display: flex;
    width: 100%;
}
.texto__historia{
    font-size: 18px;
    align-content: center;
    margin-left: 300px;
    margin-right: 300px;
}
.linha{
    margin-right: -8px;
    margin-left: auto;
    border: 2px solid black;
    width: 100%;
}
.projeto__div{
    align-content: center;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}
.projeto__img{
    width: 80%;
    height: 40% ;
    border: 4px solid rgb(134, 100, 100);
}
.projeto__span{
    padding: 0 50px 0 100px;
    display: flex;
}
.formulario{
    margin-top: 60px;
    color: black;
    align-content: center;
    margin-left: 300px;
    margin-right: 300px;
}
.form-item{
    background-color: white;
    width: 100%;
    min-height: 30px;
    text-align: left;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.das{
    margin-right: auto;
    margin-left: auto;
    display: block;
     
}
.button{
    height: 20px;
    padding: 10px 24px;
    background-color: #505050;
    font-size: 16px;
    line-height: 22px;
    border-radius: 3px;
    color: #ffffff;
    text-decoration: none;
    border: none;
}
.footer{
    border-top: 5px solid var(--color-dark-grey);
    padding: 48px 70px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.footer__nav__link{
    color: grey;
    text-decoration: none;
    font-size: var(--font-size-default);
    line-height: 22px;
    border-right: 1px solid var(--color-grey);
    padding: 0px 54px;
}
.footer__img{
    width: 30px;
    height: 30px;
}
.footer__nav__link:last-child{
    border-right: none;
}
.footer__copy{
    line-height: 22px;
    font-size: var(--font-size-default);
    color: var(--color-white);
}
@media only screen and (max-width: 480px){
    .texto__historia{
    font-size: 18px;
}
.header{

}
.texto{
    background-color: white;
    color: black;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 100%;
}
.projeto{
    margin: 0px -150px 0 -200px;
    text-align: center;
}
.projeto__img{
    width: 300px;
    height: 100% ;
    border: 4px solid rgb(134, 100, 100);
    display: flex;
}
.projeto__span{
    display: flex;
}
.formulario{
    margin-top: 60px;
    color: black;
    display: flex;
    align-content: center;
    margin: 60px -5px 0 -7px;
}
.button{
    height: 26px;
    padding: 2px 12px;
    font-size: 12px;
    margin: 200px 20px 30px 0;
}
.header__menu{
    margin-right: 200px;
    margin-left: auto;
}
}










